[Unit]

Description= Initiating password change script once

After=graphical-session.target
Wants=graphical-session.target

[Service]

Type=exec
ExecStart=/usr/bin/gnome-terminal -- /usr/local/bin/bbscripts/bbPasswordCheckv3.py
Restart=no

[Install]

WantedBy=default.target
