
[Unit]
Description=Run password script after first grapical login by any user
After=display-manager.service
Wants=display-manager.service

[Service]
Type=oneshot
ExecStart=/bbpasswordcheck/bbPasswordCheck.py

[Install]
WantedBy=graphical.target