[Unit]
Description=Run password script after login
After=default.target graphical-session.target

[Service]
Type=simple
ExecStart=/tmp/bbtemp/bbpasswordcheck/bbPasswordCheck.py
StandardInput=tty
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
