
[Unit]

Description=Running password python script for bbuser on first boot to desktop environment

After=graphical.target
Wants=graphical.target
# ConditionPathExists=!/home/myuser/.config/.bbpasswordcheck-ran

[Service]
Type=oneshot
User=bbuser
Environment=DISPLAY=:0

# Dynamically detect UID and set session environment

ExecStartPre=/bin/sh -c 'uid=$(id -u bbuser); \
    export XDG_RUNTIME_DIR=/run/user/$uid; \
    export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$uid/bus; \
    export DISPLAY=:0; \
    echo "Running script as bbuser in GUI session";'

# Main script

ExecStart=/usr/bin/sudo /usr/local/bin/bbscripts/bbPasswordCheck.py

# Create the "run-once" marker file

ExecStartPost=/bin/mkdir -p /home/bbuser/.config
ExecStartPost=/bin/touch /home/bbuser/.config/.bbpasswordcheck-ran

[Install]
WantedBy=graphical.target