[Unit]

Description= Initiating password change script once

After=graphical-session.target
# ConditionPathExists=!/home/bbuser/.config/.bbpasswordcheck-ran

[Service]

Type=exec
ExecStart=/usr/bin/gnome-terminal -- bash -c "/usr/local/bin/bbscripts/bbPasswordCheckv3.py; echo; echo 'Close this window when finished.'; exec bash"

ExecStartPost=/bin/mkdir -p /home/bbuser/.config
ExecStartPost=/bin/touch /home/bbuser/.config/.bbpasswordcheck-ran

[Install]

WantedBy=default.target
